.menuButton {
    -fx-background-color: #4A6A21;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.menuButton:hover {
    -fx-background-color: #61892F;
    -fx-border-color: white;
    -fx-border-width: 0px 5px 0px 0px;
}

.menuButton:pressed {
    -fx-background-color: #557A24;
}

.keresesButton {
    -fx-background-color: #4A6A21;
    -fx-background-radius: 0;
}

.keresesButton:hover {
    -fx-background-color: #517423;
}

.keresesButton:pressed {
    -fx-background-color: #557A24;
}

.kijelentkezesButton {
    -fx-background-color: #405B1F;
    -fx-background-radius: 0;
}

.kijelentkezesButton:hover {
    -fx-background-color: #E81123;
}

.kijelentkezesButton:pressed {
    -fx-background-color: #F1707A;
}

.keresesBeviteliMezo {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #474A4F;
}

.table-view .column-header .label {

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell {
    -fx-border-width: 0 0 0 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-row-cell .text {
    -fx-fill: #D0D0D0;
}

.table-row-cell:selected .text {
    -fx-fill: #474A4F;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: #56585A;
}

.table-row-cell:even{
    -fx-background-color: #656667;
}

.table-row-cell:selected {
    -fx-background-color: #86C232;
}

.table-row-cell:hover {
    -fx-background-color: #77A638;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #474A4F;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #474A4F;
}

.closeButton:hover {
    -fx-background-color: #E81123;
}

.closeButton:pressed {
    -fx-background-color: #F1707A;
}

.maxMinButton:hover {
    -fx-background-color: #4F5254;
}
