.dialog-pane > .button-bar > .container {
    -fx-background-color: #222629;
}

.dialog-pane > .content.label {
    -fx-background-color: #4A6A21;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.dialog-pane[type=header] .header-panel {
    -fx-background-color: black;
}

.dialog-pane[type=header] .header-panel .label {
    -fx-background-color: #4A6A21;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.dialog-pane .button {
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-background-color: #4A6A21;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, black, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}