.dialog-pane > .button-bar > .container {
    -fx-background-color: #222629;
}

.dialog-pane > .content.label {
    -fx-background-color: #202427;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.dialog-pane header, .dialog-pane .header-panel {
    -fx-background-color: #202427;
}

.dialog-pane header, .dialog-pane .header-panel .text {
    -fx-fill: white;
}

.dialog-pane header, .dialog-pane .header-panel .label {
    -fx-background-color: #202427;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.dialog-pane .button {
    -fx-text-fill: white;
    -fx-background-color: #4A6A21;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #4A6A21;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, #15181A, 10.0, 0.0, 5.0, 5.0);
}

.dialog-pane .button:hover {
    -fx-background-color: #61892F;
}

.dialog-pane .button:pressed {
    -fx-background-color: #557A24;
}