.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:80px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: transparent;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-width: 0 ;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tab-pane .label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-fill: #86c232;
    -fx-font-size: 60px;
}


.tab-pane .text-area *.text {
    -fx-text-alignment: center;
    -fx-background-color: #222629;;
}